html, body {
  padding: 0;
  margin: 0;
  font-family: monospace;
}

body {
  display: flex;
  flex-direction: column;
}

.Header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 56px;
  max-height: 56px;
  font-size: 20px;
  color: #fff;
  background: #76C9D5;
}

.Footer {
  height: 36px;
  background: #76D5B7;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: #fff;
}


.Content {
  width: 100%;
  height: auto;
  position: relative;
  box-sizing: border-box;
  margin: 0 0 38px;
  padding: 16px 0;
}

.Content::after {
  content: '';
  display: block;
  clear: both;
}

.Test {
    position: relative;
    width: auto;
    float: left;
    padding: 16px;
    background-color: #F8F1D8;
    box-sizing: border-box;
    margin: 0 0 16px 16px;
    font-size: 11px;
}

.Test:after, .ScriptCanvas--Wrap:after  {
  content: '';
  position: absolute;
  top: 10px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #fff;
}

.Test:after {
  right: 10px;
}

.TestRemove {
  position: absolute;
  top: -10px;
  left: 10px;
  width: 20px;
  height: 30px;
  background: #825BC2;
  border-radius: 3px 3px 0 0;
}

.TestTitle {
  font-size: 18px;
  margin-bottom: 16px;
}

.TestScript {
  color: #3A277C;
  padding: 16px;
  background-color: #FEFBF6;
  border-radius: 12px;
  white-space: nowrap;
}

.TestInfo {
  margin-top: 24px;
  text-align: right;
}

.Code {
    margin-bottom: 8px;
    max-width: 333px;
    word-break: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
}

.Code--Level-2 {
    padding-left: 25px;
}

.Code--Level-3 {
  padding-left: 50px;
}

.Code--Level-4 {
  padding-left: 75px;
}

.Code--Level-5 {
  padding-left: 100px;
}

.Code--Level-6 {
  padding-left: 125px;
}

.Code--Level-7 {
  padding-left: 150px;
}

.Code--Level-8 {
  padding-left: 175px;
}

.Code--Level-9 {
  padding-left: 200px;
}

.Code--Level-10 {
  padding-left: 225px;
}

.ScriptCanvas {
  resize: none;
  width: 100%;
  border-radius: 12px 12px 0 0;
  border: none;
  padding: 16px;
  box-sizing: border-box;
  font-family: monospace;
  font-size: 13px;
  height: 350px;
  box-shadow: inset 1px 1px 0 0 #EFD29A, inset 2px 2px 0 0 #EFD29A, inset 3px 3px 0 0 #EFD29A;
}

.ScriptCanvas:hover, .ScriptCanvas:active, .ScriptCanvas:focus {
  outline: none;
}

.ScriptCanvas--Wrap {
  width: 500px;
  float: left;
  margin: 0 16px;
  box-sizing: border-box;
  padding: 55px 16px;
  background-color: #F8F1D8;

  box-shadow: 1px 1px 0 0 #E4CB9B, 2px 2px 0 0 #E4CB9B, 3px 3px 0 0 #E4CB9B, 4px 4px 0 0 #E4CB9B, 5px 5px 0 0 #E4CB9B, 6px 6px 0 0 #E4CB9B, 7px 7px 0 0 #D7B97F, 8px 8px 0 0 #C6A25D;
}
.ScriptCanvas--Wrap:after {
    left: 10px;
}

.ScriptCanvasIter, .ScriptCanvasTitle  {
  padding: 8px;
  border: 0;
  font-size: 12px;
}

.ScriptCanvasIter {
  margin: 4px 0;
  border-radius: 0 0 0px 8px;
  width: 117px;
}

.ScriptCanvasTitle {
  margin: 4px 0 0 8px;
  border-radius: 0 0 8px 0px;
  width: 311px;
}

.ScriptCanvasButton {
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #F2B992;
    margin: 16px auto -32px;
    box-shadow: 1px 0px 0 0 #A96F47, 2px 1px 0 0 #A96F37;
    cursor: pointer;
}

.ScriptCanvasError {
    position: absolute;
    color: #A94A47;
    width: 230px;
    left: 50%;
    margin-left: -115px;
    text-align: center;
    top: 64px;
    font-size: 10px;
}