html, body {
  padding: 0;
  margin: 0;
  font-family: monospace;
}

body {
  display: flex;
  flex-direction: column;
}

.Header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 56px;
  max-height: 56px;
  font-size: 20px;
  color: #fff;
  background: #76C9D5;
}

.Footer {
  height: 36px;
  background: #76D5B7;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: #fff;
}

.Content {
  width: 100%;
  height: auto;
  position: relative;
  padding: 71px 0 52px 0;
  box-sizing: border-box;
  margin-bottom: 38px;
}

.Content::after {
  content: '';
  display: block;
  clear: both;
}

.Test {
  position: relative;
  width: auto;
  float: left;
  padding: 16px;
  background-color: #F8F1D8;
  box-sizing: border-box;
  margin-left: 16px;
}

.Test:after, .ScriptCanvas--Wrap:after  {
  content: '';
  position: absolute;
  top: 10px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #fff;
}

.Test:after {
  right: 10px;
}

.TestTitle {
  font-size: 18px;
  margin-bottom: 16px;
}

.TestScript {
  color: #3A277C;
  padding: 16px;
  background-color: #FEFBF6;
  border-radius: 12px;
  white-space: nowrap;
}

.TestInfo {
  margin-top: 24px;
  text-align: right;
}

.Code {
    margin-bottom: 8px;
}

.Code--Level-2 {
    padding-left: 25px;
}

.Code--Level-3 {
  padding-left: 50px;
}

.Code--Level-4 {
  padding-left: 75px;
}

.Code--Level-5 {
  padding-left: 100px;
}

.Code--Level-6 {
  padding-left: 125px;
}

.Code--Level-7 {
  padding-left: 150px;
}

.Code--Level-8 {
  padding-left: 175px;
}

.Code--Level-9 {
  padding-left: 200px;
}

.Code--Level-10 {
  padding-left: 225px;
}

.ScriptCanvas {
  resize: none;
  width: 100%;
  height: 100%;
      border-radius: 12px 12px 0 0;
  border: none;
  padding: 16px;
  box-sizing: border-box;
  font-family: monospace;
  font-size: 13px;
}

.ScriptCanvas:hover, .ScriptCanvas:active, .ScriptCanvas:focus {
  outline: none;
}

.ScriptCanvas--Wrap {
  width: 500px;
  float: right;
  margin-right: 16px;
  box-sizing: border-box;
  padding: 55px 16px;
  height: 500px;
  border-radius: 0px;
  background-color: #F8F1D8;
}
.ScriptCanvas--Wrap:after {
    left: 10px;
}

.ScriptCanvasIter, .ScriptCanvasTitle  {
  padding: 8px;
  border: 0;
  font-size: 12px;
}

.ScriptCanvasIter {
  margin: 4px 0;
  border-radius: 0 0 0px 8px;
  width: 117px;
}

.ScriptCanvasTitle {
  margin: 4px 0 0 8px;
  border-radius: 0 0 8px 0px;
  width: 311px;
}
